.projects-section {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond avec transparence */
  backdrop-filter: blur(5px); /* Effet de flou */
  border: 1px solid #00ff00;
  color: #333;
  margin-top: 20px;
}

.project-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px !important;
  padding: 20px;
  background-color: #b3b1b1;
  transition: background-color 0.3s ease;
}

/* Styles pour les écrans de bureau */
@media (min-width: 769px) {
  .project-card {
    width: 100%;
    margin: 0;
  }
}

/* Styles pour les écrans mobiles */
@media (max-width: 768px) {
  .project-card {
    width: 100%;
    padding: 20px;
    margin: 10px 0; /* Ajuster la marge si nécessaire */
  }

  .project-header {
    flex-direction: column; /* Faire en sorte que le titre et le toggle soient en colonne */
    align-items: flex-start; /* Aligner les éléments au début */
  }

  .project-title, .project-toggle {
    width: 100%; /* Faire en sorte que le titre et le toggle prennent toute la largeur */
  }

  .project-title {
    margin-bottom: 10px; /* Ajouter une marge en bas pour séparer le titre du toggle */
  }

  .project-toggle {
    text-align: right; /* Aligner le toggle à droite */
  }
  .project-details {
    text-align: justify;
    hyphens: auto;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.project-title {
  font-size: 1.5rem;
  margin: 0;
  hyphens: auto;
  word-break: break-word;
  overflow-wrap: break-word;
}

.project-toggle {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.project-toggle.open {
  transform: rotate(180deg);
}

.project-details {
  display: none;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
}

.project-details.open {
  display: block;
  max-height: 1000px; /* Assurez-vous que ce soit assez grand pour le contenu */
  opacity: 1;
}

.project-description,
.project-technologies,
.project-images {
  margin: 10px 0;
}

.project-images {
  display: flex;
  align-items: center;
}

.project-images img {
  max-width: 100%;
  margin: 0 10px;
}

.image-navigation {
  cursor: pointer;
  font-size: 1.5rem;
}
